html,
body {
    height: 100%;
}

/*h1, h2, h3, h4, h5 {
    font-weight: 600;
}*/

p {
    padding-bottom: 35px;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.content-wrapper{
  border-left: none!important;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

.vertical-center {
  width: 100%;
  position: fixed; /* or absolute */
  top: 50%;
  left: 0px;
  text-align: center;
}

.vertical-center div.logo {
    width: 200px;
    height: 40px;
    max-width: 80%;
    background-image: url('../img/logo.png');
}

.vertical-center img {
    max-width: 40%;
    opacity: 0.1;
}
/*.tabs-prontuario .nav-tabs li {
    width: 16%;
    text-align: center;
}*/

input, select {
    -webkit-appearance:none;
}

input[type="checkbox"] {
    -webkit-appearance:checkbox;
}

.ui-autocomplete, ui-autocomplete-input {z-index:1200}

.ui-autocomplete.ui-widget-content {
    background: #fff;
    z-index: 99999;
}

#autocomplete ul {
    border: 1px solid #aaaaaa;
    background: #ffffff url(images/ui-bg_flat_75_ffffff_40x100.png) 50% 50% repeat-x;
    color: #222222;
    z-index: 1200;
    list-style: none;
}


/* Grade de horários*/
.dia {
    text-align: center;
    font-weight: 600;
    color: #f39c12;
    border: 1px solid #f4f4f4;
    padding: 8px;
    cursor: pointer;
}

.horario {
    text-align: center;
    border: 1px solid #f4f4f4;
    padding: 8px;
}

.horario.selecionado {
    text-align: center;
    /*border: 2px solid #f39c12;*/
    background-color: #f39c12;
    color: #fff;
    padding: 8px;
}

.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
     color: #d4d4d4;
 }

.help-block {
    display: none;
}

.sortable.grid li {
    min-height: 30px;
    width: 98%;
}

label {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.fc-event-hover {
  position: relative !important;
  height: 17px;
}
.fc-event-hover .fc-content {
  position: absolute !important;
  top: -1px;
  left: 0;
  background: red;
  z-index: 99999;
  width: auto;
  overflow: visible !important;
  background-color: #3a87ad;
  padding: 1px;
  border-radius: 2px;
  border: 1px solid #3a87ad;
}
.fc-content-skeleton tr td:last-child .fc-event-hover .fc-content {
  left: auto;
  right: 0;
}

.skin-black-light .main-header {
    box-shadow: none!important;
}

.skin-black-light .main-header .navbar {
    box-shadow: 0 1px 1px rgba(0,0,0,0.05);
}

.main-sidebar {
    border-right: 1px solid #d2d6de;
}

.sidebar-menu li.header {
    color: #848484;
    background: #f9fafc;
    position: relative;
    margin-top: 1.65em;
    margin-right: 0px;
    margin-bottom: -0.1em;
    margin-left: 0.4em;
    padding-left: 0px!important;
    border-top: 1px solid #E6E6E6;
    overflow: visible!important;
}

.sidebar-menu li.header span {
    position: relative;
    top: -1.7em;
    display: inline-block;
    padding-top: 0px;
    padding-right: 0.35em;
    padding-bottom: 0px;
    padding-left: 0.35em;
    font-size: 12px;
    font-weight: 400;
    color: rgb(171, 171, 171);
    background-color: rgb(250, 250, 250);
}

.logo-mini {
    display: none;
}

.logo-lg {
    display: block;
}

.sidebar-collapse .logo-mini {
    display: block;
    text-align: center;
}

.sidebar-collapse .logo-lg {
    display: none;
}

.top-button {
    padding: 10px 0;
}

.profile-user-img {
    height: 100px;
}

/* .table { */
    /*background-color: #fbfbfb!important;*/
/* } */

.logo-cliente {
    margin: auto;
    height: 150px;
    text-align: center;
}

.logo-cliente img {
    height: 100%;
}

#map {
    width: 100%;
    height: 100%;
    position: absolute!important;
}

.motorista i.check {
    display: none;
}

.motorista.selecionado i.check {
    display: block;
    font-size: 20px;
    color: #3c8dbc;
    position: absolute;
    top: 0px;
    right: 5px;
}

.motorista h4.nome {
    color: #CCC;
    text-transform: capitalize;
}

.motorista.selecionado h4.nome {
    color: #000;
}

.sub-header {
    padding: 5px 0px;
    margin: 0px 0px;
    background: #Fdfdfd;
    text-align: center;
    border-bottom: #eee;
}

input.text,
input[type="text"],
input[type="button"],
input[type="submit"],
.input-checkbox,
select {
    -webkit-appearance: none;
    border-radius: 0;
}

.thumb img {
    max-width: 100%;
}

.pac-container{
z-index: 99999999999999 !important;
}

#mceu_36 {
    display: none;
}

.breadcrumb{
    text-transform: lowercase!important;
}

.breadcrumb
:first-letter{
    text-transform: uppercase!important;
}

.breadcrumb > .active{
    text-transform: none!important;
}

.float-right{
    float: right!important;
}

.ml-10{
    margin-left: 10px!important;
}

.border-radius-none{
    border-radius:0px!important;
}

form .help-block{
    display: none!important;
}

.form-group .help-block{
    display: block!important;
}
